.result-box{
    width: 300px;
    height: 300px;
    background: #ffcd38;
    margin: 50px auto;
}
.nav-pills{
    display:flex;
    justify-content:center;
}
.tab-pane >div{
    display: flex !important;
    flex-direction: column;
    height: 100%;
}
.color-container{
    overflow:auto;
    height:170px;
    width:310px;
}
.color-container .form-group{
    margin:0 0 10px;
}
.color-container::-webkit-scrollbar {
    display: none;
  }
.color-container >div{
    display:flex;
    justify-content:space-between;
}
.color-container .color-input{
width:178px;
height:35px;
}
.color-options{
    width:90px;
    top: 5px;
    position: relative;
}
.color-options > input{
    width:31px;
    height:31px;
}
.input-range{
    margin: 20px 0;
}
.colorpicker-component{
    width:200px;
}
.code-container{
    overflow:auto;
    word-break:break-word;
}
.code-container code{
    width:100%;
    display:block;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0,0,0,1);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
